/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    background-color: #d4dbdb;
}
.ms-row-big{
    height: 15vh;
    background-color: #009688;
    position: relative;
}

/*HOVER*/
.ms-contact:hover{
    background-color: rgb(239, 239, 239);
}

/*CONTAINER*/
.ms-container-big{
    display: flex;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ms-col-left{
    width: 35%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgb(200, 200, 200);
    flex-grow: 0;
    flex-shrink: 0;
}
.ms-col-right{
    width: 65%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid rgb(200, 200, 200);
    flex-grow: 0;
    flex-shrink: 0;
}

.ms-avatar{
    width: 50px;
    border-radius: 50%;
}

/*COL-LEFT*/
/*header*/
.ms-header-left{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    padding: 10px;
}
.ms-personal-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ms-settings{
    display: flex;
    align-items: center;
    gap: 13px;
    color: rgb(164, 162, 162);
    font-size: 20px;
}
/*notifications*/
.ms-notifications{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #8edafc;
    padding: 17px 20px;
}
.ms-bell{
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
    padding: 14px 12px;
}
.ms-notifications p{
    color: gray;
    text-decoration: underline;
}
/*search*/
.ms-search-contact{
    display: flex;
    padding: 10px;
    background-color: #fafafa;
    width: 100%;
}
.ms-search-lens{
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid rgb(200, 200, 200);
}
.ms-search-input input{
    padding: 6px 8px;
    border: 1px solid rgb(200, 200, 200);
}
/*contacts*/
.ms-contacts{
    flex-grow: 1;
    overflow-y: auto;
}
.ms-contact{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 15px 20px 8px 20px;

}
.ms-avatar-name{
    display: flex;
    gap: 15px;
}
.ms-time{
    color: rgb(164, 164, 164);
}
.active{
    background-color: rgb(231, 233, 236);
}

/*COL-RIGHT*/
/*header-right*/
.ms-header-right{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    padding: 10px;
}
.ms-avatar-chat{
    display: flex;
    gap: 10px;
    align-items: center;
}
.ms-info-chat{
    display: flex;
    align-items: center;
    gap: 13px;
    color: rgb(164, 162, 162);
    font-size: 20px;
}
/*chat*/
.ms-chat-box{
    width: 100%;
    height: calc(100vh - 201px);
    flex-grow: 1;
    overflow-y: auto;
    background-image: url(../img/img/mine.jpg);
    padding-top: 50px;
}
.message{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.text-mess{
    padding: 15px;
}
.mess-time{
    padding: 3px;
    align-self: flex-end;
    font-size: small;
    color: rgb(160, 160, 160);;
}
.ms-mess-receved{
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    margin: 8px 50px;
}
.my-mess{
    display: flex;
    justify-content: end;
}
.ms-mess-sent{
    display: inline-block;
    background-color: #d5f9ba;
    border-radius: 10px;
    margin: 8px 50px;
}
/*write message*/
.ms-footer-chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(239, 239, 239);
    gap: 30px;
    padding: 8px 30px;
}
.ms-footer-chat i{
    color: rgb(95, 95, 95);
    font-size: 20px;
}
.ms-write-mess input{
    padding: 18px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}