/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    background-color: #d4dbdb;
}
.row-big{
    height: 15vh;
    background-color: #009688;
    position: relative;
}

/*CONTAINER*/
.container-big{
    display: flex;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.col-left{
    width: 35%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgb(200, 200, 200);
    flex-grow: 0;
    flex-shrink: 0;
}
.col-right{
    width: 65%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid rgb(200, 200, 200);
    flex-grow: 0;
    flex-shrink: 0;
}

.avatar{
    width: 50px;
    border-radius: 50%;
}

/*COL-LEFT*/
/*header*/
.header-left{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    padding: 10px;
}
.personal-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings{
    display: flex;
    align-items: center;
    gap: 13px;
    color: rgb(164, 162, 162);
    font-size: 20px;
}
/*notifications*/
.notifications{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #8edafc;
    padding: 17px 20px;
}
.bell{
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
    padding: 14px 12px;
}
.notifications p{
    color: gray;
    text-decoration: underline;
}
/*search*/
.search-contact{
    display: flex;
    padding: 10px;
    background-color: #fafafa;
    width: 100%;
}
.search-lens{
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid rgb(200, 200, 200);
}
.search-input input{
    padding: 6px 8px;
    border: 1px solid rgb(200, 200, 200);
}
/*contacts*/
.contacts{
    flex-grow: 1;
    overflow-y: auto;
}
.contact{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 15px 20px 8px 20px;

}
.avatar-name{
    display: flex;
    gap: 15px;
}
.time{
    color: rgb(164, 164, 164);
}

/*COL-RIGHT*/
/*header-right*/
.header-right{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    padding: 10px;
    height: 70px;
}
.avatar-chat{
    display: flex;
    gap: 10px;
    align-items: center;
}
.info-chat{
    display: flex;
    align-items: center;
    gap: 13px;
    color: rgb(164, 162, 162);
    font-size: 20px;
}
/*chat*/
.chat-box{
    height: calc(100vh - 197px);
    flex-grow: 1;
    overflow-y: auto;
    background-image: url(../img/img/mine.jpg);
}
/*write message*/
.footer-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    gap: 30px;
    padding: 8px 30px;
    height: 65px;
}
.footer-chat i{
    color: rgb(95, 95, 95);
    font-size: 20px;
}
.write-mess input{
    padding: 18px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}